.body {
    background-color: skyblue;
    padding: 3px;
}

.frame {
    border: 2px solid black;
    margin: 0;
    min-width: 30px;
    min-height: 30px;
}

.frame.empty {
    border-style: dashed;
}

.frame.receiving {
    min-width: 100px;
    min-height: 100px;
}