.border {
    background-color: var(--themeColor1);
    border: 2px solid var(--themeColor2);
    border-radius: 5px;
    color: var(--themeColor2);
    margin: 5px 0;
}

.caption {
    margin: auto;
    background-color: inherit;
    border-radius: inherit;
    border-left: 2px solid var(--themeColor2);
    border-right: 2px solid var(--themeColor2);
    border-top: 2px solid var(--themeColor2);
    border-bottom: 2px solid var(--themeColor2);
    padding: 2px 4px;
    cursor: pointer;
}

.jsonField {
    background-color: #ccc;
}

.fields {
    display: flex;
    flex-direction: column;
}
