.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3px 3px;
}

.label {
    font-size: 0.9em;
}

.input {
    border: none;
    background-color: var(--themeColor2);
    border-radius: 3px;
    margin: 0 0 0 5px;
}