.GameMenuBody {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.GameMenuBody a {
    background-color: rgb(180, 97, 180);
    color: #ddd;
    min-width: 20vw;
    min-height: 20vw;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}