.AppBody {
    font-family: 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - 16px);

    --themeColor1: #8B008B;
    --themeColor2: #f1cef1;
}