.VocabBuilderMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.VocabBuilderTitle {
    font-size: 2em;
}

.VocabBuilderGameOptions div {
    background-color: rgb(236, 194, 114);
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    min-width: 50vw;
    text-align: center;
    box-shadow: 3px 3px 0px 0 teal;
    cursor: pointer;
}
.VocabBuilderGameOptions div:hover {
    filter: brightness(0.9);
}







.VocabBuilderBody {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #ccc;
}

.VocabBuilderQuestion {
    background-color: #aaa;
    text-align: center;
    padding: 15px;
    font-size: 1.4em;
}

.VocabBuilderOptions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 10px;
}

.VocabBuilderOptions>div {
    background-color: rgb(224, 134, 209);
    box-shadow: 3px 3px 0 0 #aaa;
    margin: 10px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 300ms;
}

.VocabBuilderOptions div.VocabBuilderCorrect {
    background-color: rgb(174, 212, 116);
}

.VocabBuilderOptions div.VocabBuilderIncorrect {
    background-color: rgb(218, 154, 154);
}

.VocabBuilderOptions div.VocabBuilderCurrent {
    border: 4px solid black;
}

.VocabBuilderOptions div.VocabBuilderAnswer {
    color: #666;
    font-size: 0.8em;
}






.VocabBuilderScore {
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.VocabBuilderScore span {
    background-color: #eee;
    color: #666;
    margin: 0 3px;
    flex-grow: 1;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

.VocabBuilderScore span.VocabBuilderCurrent {
    border: 2px solid black;
}

.VocabBuilderScore span.VocabBuilderCorrect {
    background-color: rgb(174, 212, 116);
}

.VocabBuilderScore span.VocabBuilderIncorrect {
    background-color: rgb(218, 154, 154);
}










.VocabBuilderReplay {
    background-color: rgb(152, 67, 173);
    color: #ddd;
    box-shadow: 1px 1px 2px 1px black;
    align-self: center;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px 0 10px 0;
    text-align: center;
    cursor: pointer;
}